body{
  box-sizing:border-box;
  font-family:"微软雅黑","Times New Roman",Georgia,Serif;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after {
  display: table;
  content: '';
  clear: both;
}
